html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
    align-items: center;
    justify-content: center;
}

    input:focus {
        outline: none;
    }

    li {
        text-align: left;
        font-size: 40px;
        list-style: none;
        margin: 0;
    }

footer {
        text-align: center;
        padding: 5px;
        background-color: #abbaba;
        color: #000;
        left: 0;
        bottom: 0;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
    }

    .remove {
        padding-bottom: 5px;
    }